header{
    width:100%;
    position: relative;
    float: left;
    display: block;
    height: 60px;
    #main_nav{
        margin-top:4px;
    }
    #logo_isplusdesign{
        float: left;
        position: relative;
    }
}