@media screen and (max-width:980px){
    .aside_caption{
        width: 70% !important;
        top:13% !important;
        left: 18% !important;
        max-height: 200px !important;
        h1{
            font-size: 25px !important;
        }
        p{
            font-size: 14px !important;
        }
    }
    #nav_top{
        left: 80% !important;
    }
    .btn-prev, .btn-next {
        top: 2.3% !important;
    }
    .aside_about_us h2{
        margin-bottom: 13% !important;
    }
    #about-us{
        margin:25% 0 0 0 !important;
    }
    .div_about_us{
        width: 100% !important;
    }
    #services{
        padding-bottom: 21%;
    }
}
@media screen and (max-width:890px){  
    #service-description .subtitle_content {
        left: 12% !important;
    }
    .nav_btn svg{
        max-width: 90px;
    }
    .pictogram{
        max-width: 336px;
    }
    .preload_text span,.esign_cont{
        font-size: 23px;
    }
    .empty_span{
        height: 20px !important;
    }
    .esign_cont {
        padding-top: 47px;
    }
    .aside_caption{
        left: 16% !important;
        width: 57% !important;
        max-height: 140px !important;
        h1{
            font-size: 24px;
        }
        p{
            display: none !important;
        }
        .btn{
            padding: 10px 15px;
        }
    }
    .bg_about_us {
        margin-top: 28% !important;
    }
    .aside_about_us h2{
        margin-bottom: 3% !important;
        margin-top:10% !important;
    }
    .div_about_us {
        margin: 5% 1% 0 1% !important;
    }
    #main_nav.navigation_div ul#navigation_ul li{
        max-width: 100px !important;
    }
    body.watching-service-dec #articl-bckg-img-service {
        min-height: 800px !important;
    }
    #service-description .subtitle_content {
        margin-top: 20% !important;
    }
    #web-development-mobile-benefits{
        max-width: 455px;
    }
    #service_descriptin_content aside{
        margin-top: 20% !important;
        p{
            margin-top:65%;
            position: relative;
        }
    }
    .div_about_us p{
        margin: 0 0 0 3%;
    }
    .subtitle_content{
        left: 19% !important;
    }
    .subtitle_content{
        max-width: 350px !important;
    }
    #contact{
        width: 81%;
    }
}
@media screen and (max-width:700px){
    #services_title_figure{
        margin:0 !important;
    }
    #articl-bckg-img-service{
        margin-top: -14% !important;
    }
    #main_nav.opened_menu.navigation_div #navigation_ul{
        top: 86% !important;
        height: 150px;
    }
    .hamburger{
        margin-left: 26% !important;
    }
    #main_nav.navigation_div #navigation_ul li{
        max-width: 65px !important;
    }
    #nav_top{
        left: 62% !important;
    } 
    .preload_text span,.esign_cont{
        font-size: 20px;
    }
    .empty_span{
        height: 10px !important;
    }
    .esign_cont {
        padding-top: 36px;
    }
    .btn-prev, .btn-next{
        top:2% !important;
    }
    .aside_caption{
        width: 50% !important;;
        max-height: 130px !important;
        top: 3% !important;
        h1{
            font-size: 20px !important;;
        }
        p{
            display: none !important;
        }
        .btn{
            padding: 7px 10px ; 
        }
    }
    .div_about_us{
        margin:17% 1% 0 1% !important;
        padding-top: 15% !important;
    }
    .aside_about_us h2{
       margin-top:8% !important;
       margin-bottom:2% !important;
    }
    .aside_about_us{
        width: 100% !important;
        left: 0% !important;
        margin: 0 auto !important;
        padding: 0 auto !important;
    }
    #about_us{
        background: #fff;
        min-height: 1041px;
        margin-top: 15% !important;
    }
    .aside_about_us{
        margin: 0 auto !important;
        padding: 0 !important;
    }
    #main_nav.navigation_div ul#navigation_ul li{
        max-width: 80px !important;
        display:inline-block;
    }
    #main_nav.navigation_div ul#navigation_ul{
        text-align:center;
    }  
    #title_contact_form {
        font-size: 30px !important;
        font-weight: 500;
    }
    #benefits-description{
        background: #fff;
    }
}
@media screen and (max-width:690px){
    .piece{
        opacity:0 !important;
    }
    #articl-bckg-img-service{
        min-height: 1400px !important;
    }
    #navigation_ul li:first-child { 
        margin-left: 2% !important;
    }
    #article_services{
        float: left !important;
        min-height: 1600px !important;
        display: block !important;
    }
    aside.aside_about_us h2 {
        margin-top: 33%;
    }
    #figure_cloud_about_us{
        margin:0 auto !important;
        padding-top: 10% !important;
    } 
    .btn-prev, .btn-next{
        width: 40px !important;
        top:1% !important;
    }
    .bg_about_us {
        margin-top: 37% !important;
    }
    #articl-bckg-img-service{
        margin-top: -17% !important;
    }
    #main_nav.navigation_div ul#navigation_ul li{
        float: left !important;
        max-width: 120px !important;
    }
    #about_us_article{
        min-height: 1147px !important;
    }
    #service-description{
            .subtitle_content{
                    max-width: 479px;
                    position: absolute;
                    z-index: 12;
                    float: left;
                    left: 8%;
            }
            #service_descriptin_content{
                min-height:990px;
                width:100%;
            }
    }
    #about-us {
        padding: 0% 0 12% 0 !important;
        margin: 23% 0 0 0 !important;
        width: 100% !important;
    }
    .aside_about_us h2 {
        margin-top: 21% !important;
        margin-bottom: 0% !important;
    }
    #about-us{
        transform: inherit !important; 
    } 
    #article_services{
        min-height: 1200px !important;
    }
    #service-description .subtitle_content {
        max-width: 479px;
        z-index: 12;
        float: left;
        left: 20%;
    }
    #service-description .subtitle_content{
        left: 19%;
    }
    #service-description #service_descriptin_content{
        width: 100%;margin-top: 70%;
    }
    #service-description .subtitle_content{
        margin-top: -25%;  
    }
    #home {
        background: #fff;
    }
    #service_description_bg {
        margin-top: 70%;
    }
    #service-description .subtitle_content{
        margin-top: -10%;
    }
    #service_descriptin_content{
        margin-left: 0 !important;
    }
    body.reading_more_about_us{
        #article_services{
                padding: 72% 0 0 0;
        }
        #read_more_bg_content{
            display:block;
            background: #fff;
        }
    }
    #service_descriptin_content aside p {
    margin-top: 19% !important;
    }
    #service-description #service_descriptin_content{
        margin-top: 40%;
        p {
            padding: 20px 140px;
        }
        aside {
            margin-top: 20% !important;
        }
    }
    body.watching-service-dec #article-contact-us {
        margin-top: 100% !important;
        padding-top: 72% !important;
    }
}
@media screen and (max-width:580px){
    .subtitle_content {
        max-width: 250px !important;
        left: 10% !important;
    }
    #service-description .subtitle_content {
        left:0px !important;
    }
    #bg_article_about_us{
        min-height: 1250px !important;
    }
    #articl-bckg-img-service{
        margin-top: -18% !important;
    }
    .hamburger{
        margin-left: 22.5% !important;
    }
    #about_us{
        background: #fff;
        min-height: 1041px;
        margin-top: 45% !important;
    }
    #articl-bckg-img-service{
        margin-top: 0% !important;
    }
    #article_services,#services{
        display: block !important;
    }
    #figure_cloud_about_us{
        z-index: 7 !important;
        margin: 0 auto !important;
        padding-top: 8% !important;
    }
    #svg_cloud{
        z-index: 3 !important;
    }
    #articl-bckg-img-service{
        min-height: 1600px !important;
    }
    #main_nav.navigation_div ul#navigation_ul li{
        max-width:45px !important;
        &:first-child{
           margin-left: 27% !important; 
        }
    }
    #about-us{
        transform:unset !important;
    }
    #service-description #service_descriptin_content p {
        padding: 20px 100px;
    }
    #read_more_bg_content{
        margin-top: 97% !important;
    }
    #service-description .subtitle_content{
        margin-top: 11% !important;
    }
    #contact_form_container {
        width: 87% !important;
    }
    form#contact{
        padding: 0 !important;
    }
}
@media screen and (max-width:480px){
    .aside_caption{
        width: 58% !important;left: 21% !important;
        max-height: 110px !important; 
        h1{
            font-size: 12px !important;
            font-weight: 400;
        }
        .btn{
            padding:2px 4px ; 
            font-size: 13px !important;
        }
    }
    .hamburger {
        margin-left:2.5% !important;
        position: relative;
    }
    .aside_about_us h2{
        margin-top: 21% !important;
    }
    #main_nav.navigation_div ul#navigation_ul li
    {
        &:first-child{
            margin-left:10% !important;
        }
    }
    body.reading_more_about_us #article_services {
        padding: 100% 0 0 0;
        margin-top: 17%;
    }
}

